.nav{
    background-color: #b6ea44;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
    position: fixed;
    margin: 0px 0px 0px 0px;
    margin-top: 0px;
    width: 96%;
    z-index: 2;
    border: solid #c24d4d;
} 

.styleBoton{
    margin-right: 10px;
 }

 .Links{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:rgb(4, 0, 255);
    margin: 4px 2px;
    padding: 10px 32px;
    border-radius: 5px;
    background-color: #8f7dec;
    border: none;
    font-size: 16px;
    cursor: pointer;
 }

 .linksHover{
   text-decoration: none;
   font-weight: bold;
   color:rgb(55, 0, 255);
   margin: 2px;
   padding: 10px 32px;
   border-radius: 5px;
   background-color: #8f7dec;
   border: none;
   font-size: 16px;
  
   
 }