.App {
   background-image: url(https://c.wallhere.com/photos/3a/9b/Adventure_Time_Crossover_Rick_And_Morty-1301763.jpg!d);
   background-attachment: fixed;
   background-size: cover;
   height:800px;
  

}
   

